[Unit]
Description=AMD GPU fan control
Documentation=http://github.com/luismsgomes/amdgpu-fan-ctrl/

[Service]
User=root
WorkingDirectory=/root
ExecStart=/usr/local/bin/amdgpu-fan-ctrl
Restart=always
StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
